@inherits LayoutComponentBase

<div class="flex flex-col h-full">
    <div class="p-6 text-xl text-center bg-red-600">
        I am on holiday. Will update for Plunderstrom 2.0 as soon as I'm back (~20. January).
    </div>
    <div class="flex flex-col justify-between h-full bg-gradient-to-br from-gray-800 to-gray-900"
         @onclick="() => _navigationMenuIsOpen = false">
        <div class="grid z-20 items-center px-4 h-12 bg-gradient-to-r to-gray-900 shadow-lg lg:hidden grid-cols-[1fr_auto_1fr] from-gray-950 shrink-0">
            <div class="relative justify-self-start">
                <button type="button" class="@(_navigationMenuIsOpen ? "!text-white" : "") w-6 h-6 text-gray-400 hover:text-white rounded focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-gray-600"
                        @onclick="() => _navigationMenuIsOpen = !_navigationMenuIsOpen"
                        @onclick:stopPropagation="true">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <nav
                    class="@(_navigationMenuIsOpen ? "" : "hidden") flex absolute left-0 top-7 flex-col gap-y-4 py-4 bg-gray-900 rounded ring-1 shadow-lg ring-violet-500/50"
                    @onclick:stopPropagation="true">
                    <NavLink href="/"
                             class="inline-flex gap-x-2 items-center py-2 pr-9 pl-6 text-sm text-gray-400 border-l-2 border-transparent hover:text-white hover:border-white focus:text-white focus:border-white focus:outline-none"
                             ActiveClass="!text-white !border-violet-500"
                             Match="NavLinkMatch.All">
                        <i class="fa-solid fa-fire"></i>
                        <span>
                            Abilities
                        </span>
                    </NavLink>
                    <NavLink href="/scaling"
                             class="inline-flex gap-x-2 items-center py-2 pr-9 pl-6 text-sm text-gray-400 border-l-2 border-transparent hover:text-white hover:border-white focus:text-white focus:border-white focus:outline-none"
                             ActiveClass="!text-white !border-violet-500"
                             Match="NavLinkMatch.Prefix">
                        <i class="fa-solid fa-chart-line"></i>
                        <span>
                            Scaling
                        </span>
                    </NavLink>
                </nav>
            </div>
            <span class="justify-self-center text-lg font-semibold text-violet-500">
                plundi.app
            </span>
        </div>
        <div class="hidden z-20 h-12 bg-gradient-to-r to-gray-900 shadow-lg lg:block from-gray-950 shrink-0">
            <nav class="flex gap-x-4 justify-between items-center px-4 mx-auto max-w-screen-2xl h-12">
                <div class="flex gap-x-4 items-center">
                    <span class="text-lg font-semibold text-violet-500">
                        plundi.app
                    </span>
                    <NavLink href="/"
                             class="inline-flex gap-x-2 items-center p-2 h-12 text-sm text-gray-400 border-b-2 border-transparent hover:text-white hover:border-white focus:text-white focus:border-white focus:outline-none"
                             ActiveClass="!text-white !border-violet-500"
                             Match="NavLinkMatch.All">
                        <i class="fa-solid fa-fire"></i>
                        <span>
                            Abilities
                        </span>
                    </NavLink>
                    <NavLink href="/scaling"
                             class="inline-flex gap-x-2 items-center p-2 h-12 text-sm text-gray-400 border-b-2 border-transparent hover:text-white hover:border-white focus:text-white focus:border-white focus:outline-none"
                             ActiveClass="!text-white !border-violet-500"
                             Match="NavLinkMatch.Prefix">
                        <i class="fa-solid fa-chart-line"></i>
                        <span>
                            Scaling
                        </span>
                    </NavLink>
                </div>
            </nav>
        </div>
        @Body
    </div>
</div>
