@inherits LayoutComponentBase

<div class="flex flex-col justify-between h-full">
    <header class="z-10 shadow-lg bg-slate-900">
        <div class="py-2 px-4 mx-auto max-w-screen-2xl">
            <div class="flex items-center">
                <div class="flex gap-x-4 items-baseline">
                    <a class="text-xl font-semibold hover:underline" href="https://plundi.app/">
                        plundi.app
                    </a>
                    <div class="inline-flex items-baseline">
                        <div class="flex gap-x-4 items-baseline">
                            <NavLink class="p-2 py-1 text-sm bg-white bg-opacity-0 rounded-md hover:bg-opacity-30 focus:outline-none" href=""
                                     Match="NavLinkMatch.All"
                                     ActiveClass="bg-opacity-20">
                                Overview
                            </NavLink>
                            <NavLink class="p-2 py-1 text-sm bg-white bg-opacity-0 rounded-md hover:bg-opacity-30 focus:outline-none" href="scaling"
                                     ActiveClass="bg-opacity-20">
                                <span>
                                    Scaling
                                </span>
                                <span class="py-0.5 px-1 ml-1 text-xs bg-green-600 rounded">NEW</span>
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="overflow-auto z-0 grow">
        <div class="flex flex-col gap-8 py-6 px-4 mx-auto max-w-screen-2xl">
            @Body
            <div class="flex flex-col gap-2 items-center">
                <span class="text-xs text-slate-500">&copy; 2024 <a href="https://github.com/taukuno" class="hover:underline">Taukuno</a>. All rights reserved.</span>
                <span class="text-xs text-slate-500">Latest update: 2024-03-29 19:18 UTC</span>
                <a class="text-xs hover:underline text-slate-500" href="https://github.com/taukuno/plundi">Source code on GitHub</a>
            </div>
        </div>
    </main>
</div>